
<div class="d-flex justify-content-between m-4">
    <h1>Archivos</h1>
    <div class="dropdown-center">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Acciones
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Nuevo</a></li>
          <li><a class="dropdown-item" href="#" (click)="deleteFiles()">Borrar</a></li>
        </ul>
      </div>
</div>

<div class="container justify-content-center mt-4">
   
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>       
            <th scope="col">Nombre</th>
            <th scope="col">Fecha</th>  
            <th scope="col">Dueños</th>
          </tr>
        </thead>
        <tbody>
            @for (file of files; track file.id){
                <tr>
                    <td>
                        <input type = "checkbox" (change)="onCheckboxChange(file, $event)">
                    </td>
                    <td>
                        @if(file.type == 0){
                            📁 {{file.name}};
                        }@else{
                            📋 {{file.name}};
                        }
                    </td>
                    <td>
                        {{file.creation| date}}
                    </td>
                    <td>
                        @for (owner of file.owners; track owner.name){
                            <img src="{{owner.avatarUrl}}" class="img-fluid rounded-circle" style="width: 40px; height: 40px;" alt="Avatar">
                        }
                    </td>
 
                </tr> 
            }
         
        </tbody>
      </table>
    

</div>
